ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
li {
    float: left;
}
li a {
    border-left: 1px solid black;
    color: #000;
    text-decoration: none;
    background-color: azure;
    padding: 8px 16px;
    font-size: 25px;
}
li a:hover {
    background-color: aqua;
    color: white;
}
li a.active {
    background-color: aqua;
     color: black;  
}
canvas {
    border: 2px solid grey;
    margin-left: 20%;
    margin-top: 5%;
}
